.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Background.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:green;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}

h4{
	color: white;
}

